<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">

<title>Software Development, Interaction Design</title>

<link rel="alternate" href="http://feeds.feedburner.com/brianmavitycomblog" type="application/atom+xml" title="brianmavity.com - Atom">

<link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen">

<style>body {font-family: Tahoma, sans-serif;font-size: 16px;line-height: 1.25em;}h1,h2,h3,h4,h5,h6 {font-family: Georgia, serif;}h1 {font-size: 2em;line-height: 1.25em;}h2 {font-size: 1.5em;line-height: 1.25em;margin-top: 0.416667em;}h3 {font-size: 1.25em;line-height: 1.25em;margin-top: 0.75em;}h4,h5 {font-size: 1em;line-height: 1.25em;}p {font-size: 1em;line-height: 1.25em;}blockquote {font-size: 0.75em;line-height: 1.6667em;margin: 1.6667em 5em;quotes: none;}blockquote p {font-size: inherit;line-height: inherit;}li {font-size: 1em;line-height: 1.25em;}div.comments {font-size: 1em;line-height: 1.25em;}</style>

<link rel="stylesheet" href="/css/site-layout.css" type="text/css" media="screen">

<style>body {background-color: #373A45;}body a {color: #78241D;}#content {background-color: #FFEDBE;color: #5E3E35;}#logo {}#logo a {color: #5E3E35;}#header {}#header p {color: #78241D;}#header ul {background-color: #373A45;}#header li {}#header li a {color: #C2C2C2;}#header li a:hover {cursor: pointer;}#swooshie {background-color: #373A45;}#swooshie div {background-color: #FFEDBE;}#main {}#main .percent-block {border-color: #5E3E35;}#footer {background-color: #373A45;color: #C2C2C2;}</style>

<style>
  #startSession {
    background-color:#EEE;
    border:solid 2px black;
    bottom:0;
    left:0;
    position:absolute;
  }
</style>
</head>
<body>
  <div id="content">
    <div id="header">
      <div id="logo">
        <a href="/">brianmavity.com</a>
        <p>software development</p>
        <p>interaction design</p>
      </div>
      <div id="links">
        <ul id="navLinks">
          <li><a href="#">Linky</a></li>
        </ul>
      </div>
      <div id="swooshie">
        <div>&nbsp;</div>
      </div>
    </div>
    <div id="main">
      <div id="software-development" class="percent-block">&nbsp;</div>
      <div id="interaction-design" class="percent-block">&nbsp;</div>
    </div>
    <div id="footer">&copy;2008-2010 Brian Mavity</div>
  </div>

  <form id="startSession" action="/sessions/start" method="post">
    <input type="submit" value="Start Session">
  </form>

  <script src="js/jquery.min.js"></script>
  <script src="socket.io/socket.io.js"></script>
  <script src="js/testPage.js"></script>
  <!--<a href="javascript:(function(){_my_script=document.createElement('SCRIPT');_my_script.type='text/javascript';_my_script.src='http://localhost:8000/js/testPage.js?';document.getElementsByTagName('head')[0].appendChild(_my_script);})();">Load Script</a>-->
</body>
</html>
