#main {
  margin: 0 5.625em;
}
  #main h5 {
    font-size: 1em;
    line-height: 1.25em;
  }
  #main .post {
    text-align: left;
  }
    #main .post ul {
      list-style-position: inside;
      list-style-type: circle;
      margin: 0.625em;
    }

